#linkinput
{
	padding: 0% 0.3%;
	font-family: "Quicksand";
}

#buttons
{
	font-family: "Quicksand";
}

#log
{
	padding: 0.5% 0.5%;
	font-family: "Quicksand";
}

.fill
{
	max-width:100%;
	max-height:100%;
	object-fit: contain;
}