#linkinput
{
	padding: 0% 0.3%;
	font-family: "Quicksand";
}

#buttons
{
	font-family: "Quicksand";
}

#log
{
	padding: 0.5% 0.5%;
	font-family: "Quicksand";
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none;
}